.text {  font-size: 9pt; line-height: 22px; color: #000000; text-decoration: none; font-family: "宋体"}
.menu {  font-family: "宋体"; font-size: 9pt; line-height: 22px; color: #066C6C; text-decoration: none}
a:hover { font-family: "宋体"; font-size: 9pt; line-height: 22px; color: #3979CE; text-decoration: none }
.chap {  font-family: "宋体"; font-size: 14px; line-height: 26px; font-weight: bold; color: #FFFFFF; text-decoration: none}
.section {  font-family: "宋体"; font-size: 9pt; line-height: 22px; color: #004D4D; text-decoration: none}
.explan {  font-family: "宋体"; font-size: 9pt; line-height: 22px; color: #6161AF; text-decoration: none}
