.menu {  font-family: "宋体", "隶书", "楷体_GB2312"; font-size: 9pt; color: #006699; line-height: 15pt}
.chap {  font-family: "宋体", "隶书", "楷体_GB2312"; font-size: 9.5pt; color: #993399; text-decoration: none; font-weight: bold; line-height: 20px}
.text {  font-family: "宋体"; font-size: 9pt; line-height: 22px; color: #000000; text-decoration: none; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; background-position: top}
.explaination {  font-family: "宋体"; font-size: 9pt; line-height: 15px; color: #013499; text-decoration: none}
.section {  font-family: "宋体"; font-size: 10pt; text-decoration: none; font-weight: bold; color: #CC0000; line-height: 20px}
.part {  font-family: "宋体"; font-size: 9pt; color: #990000; text-decoration: none; line-height: 18pt; font-weight: normal}
.zhishidian { font-family: "宋体"; font-size: 9.5pt; text-decoration: none; font-weight: bold; color: #000000; line-height: 20px }
.right {  font-family: "Arial", "Helvetica", "sans-serif"; font-size: 12px; font-style: normal; line-height: 30px; font-weight: bolder; color: #336699; text-decoration: underline blink}
a:active {  }
a:active {  }
a:active {  }
a:active {  }
a:active {  }
a:active {  }
a:hover {  }
a:active {  }
a:hover {  }
a:active {  }
a:hover {  }
a:visited {  }
a:visited {  }
.ssc {  background-attachment: fixed; background-image: url(../image/moban/15.gif)}
.explaination2 { font-family: "宋体"; font-size: 9pt; line-height: 15px; color: #330000; text-decoration: none }
.sectionCopy {
font-family: "宋体"; font-size: 10pt; text-decoration: underline; font-weight: bold; color: #CC0000; line-height: 17px
}
.explaination2Copy {
font-family: "宋体"; font-size: 8pt; line-height: 16px; color: #CC0000; text-decoration: none
}
