*tags
sh.exe.stackdump
.DS_Store
*.settings
*.classpath
target
*.project
*.swp
*.log
*~
*.idea
*.iml
*.ipr
*.iws
*.snap
*.resources
*.dat
*.xmi
*.index
*.metadata
*Servers
MainTest.java
ClientTest.java
*.xml.versionsBackup
*.exe