a:hover {
	font-family: "ו";
	font-size: 12px;
	line-height: 22px;
	color: #CC3300;
	text-decoration: underline;
}
.red {
	font-family: "ו";
	font-size: 12px;
	line-height: 22px;
	color: #003399;
	text-decoration: none;
}
