.text {  font-family: "宋体"; font-size: 12px; line-height: 22px; color: #000000; text-decoration: none}
a:hover { font-family: "宋体"; font-size: 12px; line-height: 22px; color: #FFCC00}
.point {  font-family: "宋体"; font-size: 12px; line-height: 22px; color: #0066FF; text-decoration: none}
.part {  font-family: "宋体"; font-size: 9pt; text-decoration: none; color: #0033CC; line-height: 22px}
.section {  font-family: "宋体"; font-size: 13px; line-height: 20px; color: #0033CC; text-decoration: none}
.chap {
	font-family: "宋体";
	font-size: 14px;
	font-weight: bolder;
	color: #003399;
	text-decoration: none;
	vertical-align: bottom;
}
.link {  font-size: 9pt; color: #990033}
.ch08 {  font-size: 12px; font-weight: bolder; color: #003399}
