.border {  border: solid; border-width: 1px 1px 0px; border-color: #333333 #333333 black}
.text {  font-family: "宋体"; font-size: 12px; color: #666666}
.border1 {  border-color: black #498BA6 black #339999; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 0px; border-left-width: 1px}
.border2 {  border-color: black #999999; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 0px; border-left-width: 1px}
.lesson {  font-family: "宋体"; font-size: 12px; color: #000000; line-height: 22px; text-decoration: none}
.border3 {  border: 1px #999999 solid; font-family: "宋体"; font-size: 12px; color: #000000}
.mulu {  font-family: "宋体"; font-size: 12px; color: #000000; text-decoration: none; line-height: 22px}
