.white {  font-family: "宋体"; font-size: 12px; line-height: 22px; color: #F9F9F9; text-decoration: none}
a:hover { font-family: "宋体"; font-size: 12px; line-height: 22px; color: #FFCC00}
.explaination {  font-family: "宋体"; font-size: 12px; line-height: 22px; color: #003399; text-decoration: none}
.point {  font-family: "宋体"; font-size: 12px; line-height: 22px; color: #FFCC00; text-decoration: none}
.part {  font-family: "宋体"; font-size: 9pt; text-decoration: none; font-weight: bolder; color: #00FFFF}
.section {  font-family: "宋体"; font-size: 12px}
.zhushi {  font-family: "宋体"; font-size: 12px; line-height: 22px; font-weight: bolder; color: #97c594; text-decoration: none}
