<html>
<head>
<title>body.gif</title>
<meta http-equiv="Content-Type" content="text/html;">
<!-- Fireworks 4.0  Dreamweaver 4.0 target.  Created Wed Dec 19 15:59:26 GMT+0800 (?D1ú±ê×?ê±??) 2001-->
</head>
<body bgcolor="#ffffff">
<table border="0" cellpadding="0" cellspacing="0" width="250">
<!-- fwtable fwsrc="Untitled" fwbase="body.gif" fwstyle="Dreamweaver" fwdocid = "742308039" fwnested="0" -->
  <tr>
   <td><img src="spacer.gif" width="9" height="1" border="0"></td>
   <td><img src="spacer.gif" width="41" height="1" border="0"></td>
   <td><img src="spacer.gif" width="108" height="1" border="0"></td>
   <td><img src="spacer.gif" width="18" height="1" border="0"></td>
   <td><img src="spacer.gif" width="65" height="1" border="0"></td>
   <td><img src="spacer.gif" width="9" height="1" border="0"></td>
   <td><img src="spacer.gif" width="1" height="1" border="0"></td>
  </tr>

  <tr>
   <td rowspan="2" colspan="2"><img name="body_r1_c1" src="body_r1_c1.gif" width="50" height="59" border="0"></td>
   <td><img name="body_r1_c3" src="body_r1_c3.gif" width="108" height="35" border="0"></td>
   <td><img name="body_r1_c4" src="body_r1_c4.gif" width="18" height="35" border="0"></td>
   <td colspan="2"><img name="body_r1_c5" src="body_r1_c5.gif" width="74" height="35" border="0"></td>
   <td><img src="spacer.gif" width="1" height="35" border="0"></td>
  </tr>
  <tr>
   <td colspan="3"><img name="body_r2_c3" src="body_r2_c3.gif" width="191" height="24" border="0"></td>
   <td><img name="body_r2_c6" src="body_r2_c6.gif" width="9" height="24" border="0"></td>
   <td><img src="spacer.gif" width="1" height="24" border="0"></td>
  </tr>
  <tr>
   <td><img name="body_r3_c1" src="body_r3_c1.gif" width="9" height="316" border="0"></td>
   <td colspan="4"><img name="body_r3_c2" src="body_r3_c2.gif" width="232" height="316" border="0"></td>
   <td><img name="body_r3_c6" src="body_r3_c6.gif" width="9" height="316" border="0"></td>
   <td><img src="spacer.gif" width="1" height="316" border="0"></td>
  </tr>
  <tr>
   <td colspan="2"><img name="body_r4_c1" src="body_r4_c1.gif" width="50" height="25" border="0"></td>
   <td colspan="2"><img name="body_r4_c3" src="body_r4_c3.gif" width="126" height="25" border="0"></td>
   <td colspan="2"><img name="body_r4_c5" src="body_r4_c5.gif" width="74" height="25" border="0"></td>
   <td><img src="spacer.gif" width="1" height="25" border="0"></td>
  </tr>
</table>
</body>
</html>
