a:link {  font-size: 9pt; color: #FFFFFF; text-decoration: none}
a:hover {  font-size: 9pt; color: #FFFFFF; text-decoration: none}
a:active {  font-size: 9pt; color: #FFFFFF; text-decoration: none}
a:visited {  font-size: 9pt; color: #FFFFFF; text-decoration: none}
