.menu {  font-family: "宋体", "隶书", "楷体_GB2312"; font-size: 12px; text-decoration: none; color: #FFFFFF}
.zhang {  font-family: "宋体", "隶书", "楷体_GB2312"; font-size: 15px; color: #FFFFFF; text-decoration: none; font-weight: bold}
