.menu {  font-family: "宋体", "隶书", "楷体_GB2312"; font-size: 9pt; text-decoration: none; color: #FFFFFF}
.text {  font-family: "宋体"; font-size: 9pt; line-height: 22px; color: #000000; text-decoration: none}
.explaination {  font-family: "宋体"; font-size: 9pt; line-height: 22px; color: #000000; text-decoration: none}
.point {  font-family: "宋体"; font-size: 9pt; line-height: 22px; font-weight: normal; color: #3366FF; text-decoration: none}
.part {  font-family: "宋体"; font-size: 9.5pt; line-height: 20px; font-weight: bolder; color: #3333FF; text-decoration: none}
.section {  font-family: "宋体"; font-size: 10pt; font-weight: bolder; color: #0033CC; text-decoration: none; line-height: 30px}
