.pt9 {
	font-family: "ו";
	font-size: 9pt;
	text-decoration: none;
	line-height: 17px;
	color: #000000;

}
.p14 {
	font-family: "ו";
	font-size: 14px;
	line-height: 25px;
	text-decoration: none;
}
.tit {
	font-family: "ו";
	font-size: 12px;
	font-weight: bolder;
	text-decoration: none;
}
.bg {
	background-attachment: fixed;
	background-image: url(../images/text_right_bg.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.mulu {
	background-attachment: fixed;
	background-image: url(../images/mulu_bg.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.pop {
	background-attachment: fixed;
	background-image: url(../images/pop_bg1.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}
