<html>
<head>
<title>计算机系统结构</title>
<meta http-equiv="Content-Type" content="text/html; charset="utf-8"">

<link rel="stylesheet" href="../css/text.css" type="text/css">
<link rel="stylesheet" href="../css/text01.css" type="text/css">
</head>

<body text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" bgcolor="#FFFFFF">
<div align="center">
  <table width="96%" border="0" cellspacing="3" cellpadding="2" height="100%">
    <tr>
      <td valign="top" height="37"> 
        <table width="40%" border="0" cellspacing="0" cellpadding="0" background="../images/bg0401.gif" height="18" align="right">
          <tr>
            <td class="pt10"> 
              <div align="center" class="title">第八章 并行处理机和多处理机</div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td valign="top" height="119"> 
        <div align="left"> 
          <p class="pt9-black">习题<br>
            1.1. 解释下列术语<br>
            层次结构 计算机系统结构 计算机组成 计算机实现 透明性 由上往下设计 由下往上设计 系列机 软件兼容 兼容机 模拟 仿真 虚拟机 
            宿主机 指令流 数据流 Amdahl定律 CPI MIPS MFLOPS</p>
          <p class="pt9-black">1.2. 如有一个经解释实现的计算机，可以按功能划分成4级。每一级为了执行一条指令需要下一级的N条指令解释。若执行第一级的一条指令需Kns时间，那么执行第2、3、4级的一条指令各需要用多少时间？</p>
          <p class="pt9-black">1.3.操作系统机器级的某些指令就用传统机器级的指令，这些指令可以用微程序直接实现，而不必由操作系统自己来实现。根据你对第1.2题的回答，你认为这样做有哪两个好处？</p>
          <p class="pt9-black">1.4. 有一个计算机系统可按功能划分成4级，各级的指令都不相同，每一级的指令都比其下一级的指令在效能上强M倍，即第i级的一条指令能完成第i-1级的M条指令的计算量。现若需第i级的N条指令解释第i+1级的一条指令，而有一段第1级的程序需要运行ks，问在第2、3和4级上的一段等效程序各需要运行多长时间？</p>
          <p class="pt9-black">1.5. 硬件和软件在什么意义上是等效的？在什么意义上又是不等效的？试举例说明。</p>
          <p class="pt9-black">1.6. 试以实例说明计算机系统结构、计算机组成与计算机实现之间的相互关系与相互响。</p>
          <p class="pt9-black">1.7. 什么是透明性概念？对计算机系统结构，下列哪些是透明的？哪些是不透明的？<br>
            存贮器的模m交叉存取；浮点数据表示；I/O系统是采用通道方式还是I/O处理机方式；数据总线宽度；阵列运算部件；通道是采用结合型的还是独立型的；PDP-11系列中的单总线结构；访问方式保护；程序性中断；串行、重叠还是流水控制方式；堆栈指令；存贮最小编址单位；Cache存贮器。<br>
          </p>
          <span class="pt9-black">1.8. 从机器（汇编）语言程序员看，以下哪些是透明的？<br>
          指令地址寄存器；指令缓冲器；时标发生器；条件码寄存器；乘法器；主存地址寄存器；磁盘外设；先行进位链；移位器；通用寄存器；中断字寄存器。 
          </span> 
          <p class="pt9-black">1.9. 下列哪些对系统程序员是透明的？哪些对应用程序员是透明的？<br>
            系列机各档不同的数据通路宽度；虚拟存贮器；Cache存贮器；程序状态字；&quot;启动I/O&quot;指令；&quot;执行&quot;指令；指令缓冲寄存器。</p>
          <p class="pt9-black">1.10. 实现软件移植的主要途径有哪些？它们存在什么问题？适用于什么场合？<br>
          </p>
          <span class="pt9-black">1.11. 想在系列中发展一种新型号机器，你认为下列哪些设想是可以考虑的，哪些则是不行的？为什么？<br>
          （1）新增加字符数据类型和若干条字符处理指令，以支持事务处理程序的编译。<br>
          （2）为增强中断处理功能，将中断分析由原来的4级增加到5级，并重新调整中断响应的优先次序。<br>
          （3）在CPU和主存之间增设Cache存贮器，以克服因主存访问速率过低而造成的系统性能瓶颈。<br>
          （4）为解决计算误差较大，将机器中浮点数的下溢处理方法由原来的恒置&quot;1&quot;法，改为增设用只读存贮器存放下溢处理结果的查表舍入法。<br>
          （5）为增加寻址灵活性和减少平均指令字长，将原来全部采用等长操作码的指令改成有3类不同码长的扩展操作码；并将源操作数寻址方式由原来的操作码指明改成增加一个如VAX-11那样的寻址方式位字段来指明。<br>
          （6）将CPU与主存之间的数据通路宽度由16位扩到32位，以加快主机内部信息的传送。<br>
          （7）为了减少使用公用总线的冲突，将单总线改为双总线。<br>
          （8）把原来的0号通用寄存器改作为专用的堆栈指示器。 </span> 
          <p class="pt9-black">1.12. 如果某一计算任务用向量方式求解比用标量方式求解要快20倍，称可用向量方式求解部分所花费时间占总的时间的百分比为可向量化百分比。请画出加速比与可向量化比例两者关系的曲线。</p>
          <p class="pt9-black">1.13. 在题1.12中，为达到加速比2， 可向量化的百分比应为多少？</p>
          <p class="pt9-black">1.14. 在题1.12中，为获得采用向量方式最大加速比的半值（即10）时，所需可向量化的百分比为多少。<br>
          </p>
          <span class="pt9-black">1.15. 在题1.12中，如果某程序可向量化部分为70%，硬件设计组认为可以通过加大工程投资，使向量处理速度加倍来进一步增加性能；而编译程序编写组认为只需设法增加向量工作方式的百分比就同样可使性能得到相同的提高，问：此时需使可向量化成分再增加多少百分比就可实现。你认为上述硬、软件两种方法中，哪一种方法更好？ 
          </span> 
          <p class="pt9-black">1.16. 假设高速缓存Cache 工作速度为主存的5倍，且Cache被访问命中的概率为90%，则采用Cache后，能使整个存储系统获得多高的加速比？</p>
          <p class="pt9-black">1.17. 设计指令存储器有两种不同方案：一是采用价格较贵的高速存储器芯片，另一得采用价格便宜的低速存储芯片。采用后一方案时，用同样的经费可使存储器总线带宽加倍，从而每隔2个时钟周期就可取出2条指令（每条指令为单字长32位）；而采用前一方案时，每个时钟周期存储器总线仅取出1条单字长指令。由于访存空间局部性原理，当取出2个指令字时，通常这2个指令字都要使用，但仍有25%的时钟周期中，取出的2个指令字中仅有1个指令字是有用的。试问采用这两种实现方案所构成的存储器带宽为多少？<br>
          </p>
          <p><span class="pt9-black"><br>
            </span><br>
          </p>
          </div>
        <p align="left" class="pt9-black">　</p>
        </td>
    </tr>
  </table>
</div>
</body>
</html>
